.paralax{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 100px
    }

    .mountains{
        left: 0;
        bottom: 0;
        position: absolute;
        width: 100%;
        height: 90%;
        z-index: 3;
        object-fit: cover;
        img{
            height: 100%;
            width: 100%;
        }


    }
    .planets{
        position: absolute;
        left: 0;
        z-index: 2;
        bottom: 0;
        height: 100%;
        z-index: 1;
        width: 100%;
        background-position: center;
        background-size:cover;
        background-image: url("../src/assets/planets.png");

    }
    .starts{
        z-index: 1;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-image: url(../src/assets/stars.png);

    }
}

@media (min-width: 100px) and (max-width: 700px){
    .paralax{
        h1{
            font-size: 4rem;
        }

        .mountains{
            height: 55%;
            width:100%;
        }
    }
}