.AboutContainer {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  // background-color: rgba(255, 255, 255, 0.114);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(145deg, #0a192f79, #1e1e1e93);
    // background: rgba(255, 255, 255, 0.4); // semi-transparent background
    z-index: -1; // stay behind About
  }

  .cursor {
    font-size: 1px;
    // color: blueviolet;
    font-weight: 700;
    opacity: 0.5;
    display: inline-block;
    // animation: blink 0.8s infinite;
  }

  @keyframes blink {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    25%,
    75% {
      opacity: 0;
    }
  }

  .about-main {
    display: flex;
    // align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    flex-wrap: wrap;
    height: 80%;
    margin-top: 1rem;
    // background-color: white;
    overflow: hidden;

    .content {
      h2{
        margin-top: 1.2rem;
      }
        .text{
          // background: linear-gradient(90deg, #8f6ed5 0%, #4ba3c7 100%);
// -webkit-background-clip: text;
// -webkit-text-fill-color: transparent;
          color: rgba(128, 128, 128, 0.447);
            width: 100%;
            // background-color: #38bdf8;
            height:35%;
        }

      .ChipContainer {
        display:flex;
        flex-wrap: wrap;
        gap:10px;
        margin-top: 1rem;
      }

      // background-color: aquamarine;
      p {
        color: #e5e7ebaf;
      }
      width: 54%;
      margin-top: 1.5rem;
    }

    .about-img {
      // order: -1;
      position: relative;
      height: 75%;
      filter: brightness(0.7);
      // border-radius: 1rem;
      margin-top: 1rem;
      border-radius: 16px; /* keep rounded corners */
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.605); /* soft blur */
      width: 43%;
      margin-left: 0.5rem;
    }
  }

  .About {
    height: 65%;
    width: 70%;
    position: relative;
    // top: -5%;
    box-shadow: 0px 0px 5px #ffffff6b;
    z-index: 999;
    background-color: #28282b;
    border-radius: 1rem;
    // background-color: #0F2027;
    // padding: 1rem;
    color: white;
    .head {
      margin-top: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.4rem 1rem;
      h1 {
        text-shadow: 0 0 10px rgba(96, 165, 250, 0.7);
        color: white;
        display: inline-block;
        span {
          color: #38bdf8;
          display: inline-block;
        }
      }
      .cross {
        display: flex;
        align-items: center;
        cursor: pointer;
        border: 1px solid white;
        border-radius: 0.5rem;
        text-align: center;
        color: red;
        transition: all 0.1s ease;
        &:hover{
            transform: scale(1.2);
        }
      }
    }
  }
}

@media (min-width: 100px) and (max-width: 700px) {
  .AboutContainer {
    .About {
      position: absolute;
      // top: 1.5rem;
      height: 100%;
      width: 100%;

      .about-main {
        padding-left: 0.2rem;
        // background-color:beige;
        padding-right: 0.2rem;

        .content {
            .ChipContainer{
              padding: 0.2rem;
              margin-bottom: 1rem;
                // margin-top: 1rem;
            }
            .text{
                // background-color: #38bdf8;
                height: 54%;
                margin-top: 1.5rem;
                margin-bottom: 2rem;
            }
          position: absolute;
          top: 38%;
          // background-color: aquamarine;
          width: 100%;
          padding: 0.2rem 0.4rem;
          height: 30%;
          margin-top: 0.5rem;
          p {
            font-size: 0.9rem;
          }
        }

        .about-img {
          order: -1;
          margin-top: 0.2rem;
          width: 96%;
          height: 40%;
        }
      }
    }
  }
}
