.contact {
  height: calc(100vh - 3rem);
  width: 100%;
  position: relative;
  z-index: 0;
  pointer-events: none;
  .contact-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .Form {
      .heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;
        h1 {
          font-size: 1.7rem;
          font-weight: bold;
          span {
            text-align: center;

            /* Gradient text */
            background: linear-gradient(
              90deg,
              #6c63ff,
              #c94fbd,
              #5e5ec4,
              #8a3ffc
            );
            background-size: 300% 300%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            /* Animation */
            animation: gradientMove 5s ease infinite;
          }
        }
        @keyframes gradientMove {
          0% {
            background-position: 0% 50%;
          }
          50% {
            background-position: 100% 50%;
          }
          100% {
            background-position: 0% 50%;
          }
        }
      }
      background: linear-gradient(120deg, #181d29 0%, #232447 100%);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1), 0 8px 40px rgba(0, 0, 0, 0.05);
      // border: 1px solid black;
      border-radius: 1.5rem;
      padding: 1.5rem;
      height: fit-content;
      width: 35vw;
      form {
        .button {
          margin-top: 1rem;
          width: 100%;
          justify-content: center;
          align-items: center;
          display: flex;
          button {
            background: transparent;
            color: #fff;
            border: none;
            padding: 0.6rem 1.5rem;
            border-radius: 12px;
            width: 30%;
            font-size: 1rem;
            z-index: 1;
            // position: absolute;
            animation: gradientMove 5s ease infinite;
            font-weight: 600;
            cursor: pointer;
            transition: all 0.3s ease;
            border: 1px solid gray;
            transition: all ease 0.2s;
            &:hover{
              transform: scale(1.05);
            }
          }
        }
        textarea {
          // margin-top: 1rem;
          padding: 0.5rem;
          border: none;
          outline: none;
          border: 1px solid rgba(128, 128, 128, 0.281);
          border-radius: 0.5rem;
          background: transparent;
          // padding: 0.2rem;
          max-height: 20vh;
          width: 100%;
          &:focus {
            border: 1px solid rgba(255, 255, 255, 0.215);
          }
          // padding: 0.5rem;
          overflow: scroll;
          scroll-behavior: smooth;
          max-width: 100%;
          color: white;
          scrollbar-width: none; /* "auto" or "thin" */
          scrollbar-color: #6c63ff #1e1e2f;
        }
        .input-box {
          .labelBox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
              font-size: 0.8rem;
              color: rgb(255, 0, 0);
              display: inline-block;
            }
          }
          display: flex;
          height: 4rem;
          padding: 0.5rem;
          border: 1px solid rgba(128, 128, 128, 0.208);
          border-radius: 0.5rem;
          margin-bottom: 1rem;
          flex-direction: column;
          input {
            background: transparent;
            width: 100%;
            outline: none;
            border: none;
            // border-bottom: 1px solid gray;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            height: 2.5rem;
            color: rgba(255, 255, 255, 0.454);
            &:focus {
              border-bottom: 1px solid rgba(255, 255, 255, 0.144);
            }
          }
        }
      }
    }
  }

}

@media (min-width:200px) and (max-width:700px)
{
  .contact{
    .contact-container{
      .Form{
        // height: 55vh;
        button{
          margin-bottom: 1rem;
          padding: 0.5rem 1rem;
        }
        width: 96vw;
        padding: 0.5rem;
      }
    }
  }
}


