a{
    color: inherit;
    height: 50px;
    text-decoration: none;
}
.navbar{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 0px 1rem;
    z-index: -1;
    align-items: center;

    .text{
        font-weight: bolder;
        font-size: 1.5rem;
        z-index: 4;
        // color: #c1c1c1;
        text-shadow:-5px -4px 5px rgba(255, 255, 255, 0.26);
        color: rgba(255, 255, 255, 0.74);
    }

    // .social{
    //     background-color: white;
    //     height:80%;
    //     display: inline-block;
    //     width: 15%;
    //     display: flex;
    //     justify-content: space-evenly;
    //     align-items: center;

    //     div{
    //         height: 2.5rem;
    //     }

    //     img{
    //         height: 2.5rem;
    //         width: 2.5rem;
    //         background-color: aliceblue;
    //         clip-path: circle(50%);
    //     }
    // }


}